@{
    ViewData["Title"] = "Home Page";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <div class="container-fluid">
                <h3 class="page-title">Welcome to my home page</h3>
                <h1>Jawaid Iqbal</h1>
</div></div></div></div>